
.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
/*nav styls */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 200px;
}
.nav-tittle {
    font-weight: 800;
    font-size: 45px;
}
/*shared style*/
.text-primary{
    color: #FD6E0A;
}
nav ul li{
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    margin-right: 51px;
}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
}
nav ul a{
    text-decoration: none;
    font-size: 20px;
}
.dark-2{
    color: #474747;
}
nav ul{
    display: flex;
    align-items: center;
}

/*banner style*/
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 0px 200px;
    
}
.banner-content{
    max-width: 580px;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner-tittle{
    font-weight: bold;
    font-size: 85px;
}
.banner-profile-pic{
    width: 580px;
}
.header{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
.section-tittle{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 18px;
    color: #757575;
}
.secondary-bg{
    background-color: #FFF8F3;
}
/*main syle*/
main{
    max-width: 1140px;
    margin: 0 auto;
  
}

/*about style*/
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
.about{
     border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    m
}
.item-description{
    font-weight: 600;
    padding-top: 3px

}
.about-items{
    display: flex;
    justify-content: space-around;
}
.about-items .about-item{
    gap: 3px;
}
.text-center{
    text-align: center;
}
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}
/*resume style*/
.resume-container{
    display: flex;
    gap: 24px;
}
.experience-description{
    color: #757575;
}
.experience-sub-tittle{
    color: #757575;
    font-size: 20px;
    padding-top: 5px;
    margin-bottom: 20px;
}
.experience-tittle{
    font-size: 25px;
}
.resume hr{
    margin: 30px 5px;
}
.resume-download-cv{
    margin-top: 50px;
    margin-left: 500px;
}
/*footer style*/
footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}
.footer-colum{
    width: 50%;
}
footer input[type="text"],  footer input[type="email"],  footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    width: 100%;
    border: none;
    padding: 10px 20px;
    margin-bottom: 24px;
    font-size: 22px;
}